<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225444195626-q125k2mud8dqdm8nlr8mvmt8g95mqnng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225444195626-q125k2mud8dqdm8nlr8mvmt8g95mqnng</string>
	<key>API_KEY</key>
	<string>AIzaSyCVGBUHAdTIddESFhGz1NcvNK2lroWqJY4</string>
	<key>GCM_SENDER_ID</key>
	<string>225444195626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alternativedatadotcom.rewardme</string>
	<key>PROJECT_ID</key>
	<string>rewardme-8f50c</string>
	<key>STORAGE_BUCKET</key>
	<string>rewardme-8f50c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225444195626:ios:bc92756efe9d005b844253</string>
	<key>DATABASE_URL</key>
	<string>https://rewardme-8f50c.firebaseio.com</string>
</dict>
</plist>